<app-alert *ngIf="showAlert" [color]="alertColor">{{alertMsg}}</app-alert>
<form #loginForm="ngForm" (ngSubmit)="login()">
  <!-- Email -->
  <div class="mb-3">
    <label class="inline-block mb-2">Email</label>
    <input #email="ngModel" type="email" name="email" [(ngModel)]="credentials.email" placeholder="Enter Email" required
      class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" />
    <p *ngIf="email.errors && email.touched && email.dirty" class="text-red-400"> Enter a valid email</p>
  </div>
  <!-- Password -->
  <div class="mb-3">
    <label class="inline-block mb-2">Password</label>
    <input #password="ngModel" required name="password" [(ngModel)]="credentials.password" type="password"
      placeholder="Password" class="block w-full py-1.5 px-3 text-gray-200 border border-gray-400 transition
duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-400" />
  </div>
  <button type="submit" [disabled]="!loginForm.valid || inSubmission" class="block w-full bg-indigo-400 text-white py-1.5 px-3 rounded transition
hover:bg-indigo-500 disabled:opacity-50 disabled:bg-indigo-400">
    Submit
  </button>
</form>